.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(10px);
}

.modal {
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #917a7a, #e0e0e0);
}

.modal_heading {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary-font-color);
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem 2rem;
}

.cancel_button {
  border: 2px solid var(--secondary-font-color);
  color: var(--secondary-font-color);
  background-color: transparent;
}

.confirm_button {
  border: 2px solid var(--primary-font-color);
  color: var(--primary-font-color);
  background-color: var(--second-brand-bg-darker);
}

.button:hover {
  background-color: var(--secondary-bg-lighter);
  color: var(--secondary-font-color);
}

.cancel_button:hover {
  background-color: var(--secondary-bg-lighter);
  color: var(--secondary-font-color);
}

.confirm_button:hover {
  background-color: rgb(198, 140, 140);
  color: var(--secondary-font-color);
}

/* MEDIA QUERIES */
@media (max-width: 81.25em) {
  .modal {
    width: 45rem;
    padding: 1rem 4rem;
  }

  .modal_heading {
    font-size: 3.5rem;
  }

  .button {
    font-size: 1.8rem;
  }
}

@media (max-width: 62.5em) {
  .modal {
    width: 40rem;
    padding: 1rem 3rem;
  }

  .modal_heading {
    font-size: 3rem;
  }

  .button {
    font-size: 1.6rem;
  }
}

@media (max-width: 43.5em) {
  .modal {
    width: 30rem;
    padding: 1rem 2rem;
  }

  .modal_heading {
    font-size: 2.5rem;
  }

  .button {
    font-size: 1.4rem;
  }
}

@media (max-width: 29em) {
  .modal {
    width: 70%;
    padding: 1rem;
  }

  .modal_heading {
    font-size: 2rem;
  }

  .button {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}
