.footer {
  color: var(--secondary-font-color);
  padding: 10rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 5rem;
  padding-top: 20rem;
  background: linear-gradient(to bottom right, #e0e0e0, #8f8787);
  background: linear-gradient(to bottom right, #8f8787, #e0e0e0);
  font-family: Dancing Script;
  font-weight: 600;
  overflow: hidden;
}
.footer_heading {
  font-family: Dancing Script;
  padding-bottom: 4rem;
  font-size: 6rem;
  font-weight: 400;
}
.footer_description {
  display: flex;
  gap: 5rem;
  list-style: none;
}
.footer_upper_div {
  padding-bottom: 2.5rem;
  width: 100%;
  border-bottom: 1px solid var(--black-lighter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_lower_div {
  padding-top: 5rem;
}
.footer_lower_div ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  font-size: 2.5rem;
}
.footer p {
  font-size: 1.8rem;
  text-align: center;
}
.socialmedias {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.socialmedias div {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.svg:hover {
  transform: scale(1.1);
}
@media (max-width: 81.25em) {
  .footer_lower_div ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 2.5rem;
  }
  .socialmedias {
    gap: 0rem;
  }
}
@media (max-width: 56.25em) {
  .footer {
    gap: 2.5rem;
    padding: 10rem 5rem 5rem 5rem;
  }
  .footer_heading {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
  .footer_lower_div {
    padding-top: 0rem;
  }
  .footer_lower_div ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer_description {
    gap: 1rem;
    font-size: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 31.25em) {
  .footer {
    padding: 10rem 2rem 2rem 2rem;
  }
  .footer_lower_div ul {
    gap: 0.5rem;
  }
  .socialmedias {
    padding-bottom: 1rem;
  }
}
@media (max-width: 28.25em) {
  .footer_lower_div ul {
    font-size: 2rem;
  }
  .footer p {
    font-size: 1.6rem;
  }
}
