.cart_container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: linear-gradient(to bottom right, #917a7a, #e0e0e0);
  color: var(--black);
}
.cart_heading {
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: 5rem;
}
.cart_item_lists {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.total_price {
  font-size: 2.5rem;
  font-weight: 500;
}
.checkout_container {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5rem;
}
.button_checkout {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid var(--primary-font-color);
  color: var(--primary-font-color);
  background-color: var(--second-brand-bg-darker);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
  width: 17rem;
}
.button_checkout:hover {
  background-color: var(--secondary-bg-lighter);
  color: var(--secondary-font-color);
}
