.shop {
  padding: 10rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #917a7a, #e0e0e0);
}
.shop > * {
  margin-top: 5rem;
}

/* MEDIA QUERIES */

@media (max-width: 47.5em) {
  .shop {
    /* width: 90rem; */
    /* overflow: scroll; */
  }
}
