.button_primary {
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
  color: var(--secondary-font-color);
  border: 2px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  padding: 2rem 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.button_secondary {
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 2px solid var(--primary-font-color);
  color: var(--primary-font-color);
  background-color: var(--second-brand-bg-darker);
  padding: 2rem 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}
.button_primary:hover {
  background-color: var(--second-brand-bg);
  color: var(--secondary-font-color);
}
.button_secondary:hover {
  background-color: var(--secondary-bg-lighter);
  color: var(--secondary-font-color);
}

/*  */
/*  */
/*  MEDIA QUERIES */
@media (max-width: 68.75em) {
  .button_primary,
  .button_secondary {
    font-size: 2rem;
  }
}
@media (max-width: 58.4em) {
  .button_primary,
  .button_secondary {
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 43.75em) {
  .button_primary,
  .button_secondary {
    font-size: 1.5rem;
    padding: 1.25rem 2.5rem;
    letter-spacing: 4px;
  }
}
@media (max-width: 34.4em) {
  .button_primary,
  .button_secondary {
    font-size: 1rem;
    padding: 1rem 2rem;
    letter-spacing: 2px;
  }
}
