.main_list {
  backdrop-filter: blur(40px);
  border-radius: 1rem;
  padding: 1rem 2rem;
  -webkit-backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--black);
}
.minor_list {
  padding-bottom: 5rem;
}
.minor_list a li {
  font-size: 3rem;
}
.nav_lists {
  color: var(--black);
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav_list {
  cursor: pointer;
  position: relative;
}
.nav_list:hover {
  color: var(--second-brand-darker);
}
:global(.active) li {
  color: var(--second-brand-darker);
}
:global(.active) li::before {
  width: 100%;
  left: 0;
}
.nav_list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: var(--second-brand-darker);
  transition: width 0.4s ease, left 0.4s ease;
}
.nav_list:hover::before {
  width: 100%;
  left: 0;
}
/*  */

/*  */
.cart_container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart {
  width: 4rem;
  padding: 0.5rem;
  object-position: center;
}
.account_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account {
  width: 4rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

/* MEDIA QUERIES */
@media (max-width: 81.25em) {
  .main_list {
    font-size: 2rem;
    gap: 2.5rem;
  }
}
@media (max-width: 53.5em) {
  .main_list {
    padding: 0.5rem 1rem;
    gap: 2rem;
  }
}
@media (max-width: 47.2em) {
  .main_list {
    font-size: 2rem;
    gap: 1.8rem;
  }
  .cart {
    width: 3rem;
  }
  .account {
    width: 3rem;
  }
}
@media (max-width: 41em) {
  .main_list {
    font-size: 1.5rem;
    gap: 1.2rem;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: none;
    box-shadow: none;
  }
  .minor_list {
    padding-bottom: 0rem;
  }
  .minor_list a li {
    font-size: 2rem;
  }
  .cart {
    width: 2rem;
    padding: 0;
  }
  .account {
    width: 2rem;
    padding: 0rem;
  }
}
@media (max-width: 25em) {
  .main_list {
    font-size: 1rem;
    gap: 1rem;
  }
}
