.shoping_card {
  margin-bottom: 5rem;
}
.shoping_card figure {
  max-width: 30rem;
  max-height: 45rem;
  overflow: hidden;
  position: relative;
}
.shoping_card figure::before {
  /* content: "Shop Now"; */
  content: "DETAILS";
  color: var(--secondary-font-color);
  font-size: 2rem;
  position: absolute;
  left: 0%;
  top: 100%;
  background-color: var(--second-brand-color);
  padding: 1rem 2rem;
  transform: translate(-100%, -100%);
  transition: all 0.5s;
  z-index: 10;
  cursor: pointer;
}
.shoping_card figure:hover::before {
  transform: translate(0%, -100%);
}
.shoping_card figure:active::before {
  transform: scale(0.9) translate(-10%, -100%);
}
.shoping_card figure img {
  opacity: 0.9;
  transition: all 0.5s;
}
.shoping_card figure img:hover {
  opacity: 1;
  transform: scale(1.25);
}
.shoping_card .product_name {
  font-size: 2rem;
  font-weight: 400;
}
.shoping_card .product_price {
  font-size: 1.8rem;
  font-weight: 500;
}
.shop_for {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--secondary-font-color);
}
.description_cotainer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.shoping_card:hover .cart {
  opacity: 1;
}
.cart {
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0;
}
.cart:hover {
  transform: scale(1.1);
  stroke: var(--second-brand-bg-darker);
}
.cart:active {
  transform: scale(0.9);
  /* opacity: 1; */
}
