@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
  --primary-font-color: #e6e6e6;
  --secondary-font-color: #1b1b1b;
  --primary-bg-color: #ececec;
  --secondary-bg-color: #303030;
  --secondary-bg-lighter: #a2a2a2;
  --primary-bg-darker: #070707;
  --primary-bg-lighter: #fff;
  --grey-color: #d9dad7;
  --second-brand-color: #f6c1b4;
  --second-brand-darker: #d76a4f;
  --second-brand-bg: #f8cdc3;
  --second-brand-bg-darker: #624d48;
  --black: #000;
  --black-light: #444;
  --black-lighter: #888;
  --white: #fff;

  /* Your primary color */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Jost, monospace;
  color: var(--primary-font-color);
}
section {
  overflow-x: hidden;
}
/* .minor_nav {
  fontsize: "3rem";
  paddingbottom: "5rem";
} */
@media (max-width: 47.2em) {
  .home_shope_grid {
    overflow-x: scroll;
    /* grid-template-columns: 1fr 1fr; */
    margin-left: 0rem;
  }
}
@media (max-width: 56.25em) {
  .socialmedia_sizes {
    /* width: 40;
    height: 40; */
    transform: scale(0.8);
  }
}
@media (max-width: 31.25em) {
  .socialmedia_sizes {
    /* width: 40;
    height: 40; */
    transform: scale(0.6);
  }
}
@media (max-width: 57.5em) {
  .shope_shope_grid {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* overflow: scroll; */
  }
}

@media (max-width: 47.5em) {
  .shope_shope_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .shope_shope_img {
    width: 15rem;
  } */
}

/*


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

div:first-of-type {
  animation: appear 6s infinite;
}

div:last-of-type {
  animation: reveal 6s infinite;
}

div:last-of-type span {
  font-size: 33px;
  color: #808000;
  animation: slide 6s infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 655px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 655px;
  }
}

*/

